.heading{
    text-align: center;
}
.desp{
    margin-top: 2%;
    font-weight: bold;
}
.desp1{
    margin-top: 1%;
    font-weight: lighter;
    text-indent: 5%;
}
.text-indent{
    text-indent: 5%;
}