<div class="container mt-3">
  <button class="btn btn-success" routerLink="/">#Back</button>
  <button
    class="btn btn-success float-end"
    routerLink="/higher-order-operators"
  >
    Higher Order Opeartors->
  </button>
  <h2 class="text-center">Operators</h2>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">of - Operator</h4>
      <p>Example - of operator will return all values at a time</p>
      <button class="btn btn-small btn-primary mb-3" (click)="ofOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorOfArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">from - Operator</h4>
      <p>Example - from operator will iterate each values</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="fromOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorFromArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">map - Operator</h4>
      <p>
        Example - map operator used to convert our data (here multiply by 10)
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="mapOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorMapArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">filter - Operator</h4>
      <p>
        Example - filter operator will filter based on condition (here display
        odd numbers)
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="filterOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorFilterArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">range - Operator</h4>
      <p>
        Example - range operator used to emits sequence of numbers with in the
        given range in the parameter
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="rangeOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorRangeArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">distinct - Operator</h4>
      <p>
        Example - distinct operator emits only unique values in the given order
        - check array in ts file
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="distinctOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorDistinctArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">first - Operator</h4>
      <p>Example - first operator used to emits the first value</p>
      <button class="btn btn-small btn-primary mb-3" (click)="firstOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorFirstArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">last - Operator</h4>
      <p>Example - last operator used to emits the last value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="lastOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorLastArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">skip - Operator</h4>
      <p>
        Example - skip operator skips the values from the start in the given
        position
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="skipOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorSkipArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">take - Operator</h4>
      <p>
        Example - take operator takes values from the starting, in the given
        position
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="takeOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorTakeArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">interval - Operator</h4>
      <p>
        Example - interval operator keep on trigger with the given interval of
        time
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="intervalOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorIntervalArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">toArray - Operator</h4>
      <p>Example - toArray operator format data into array format</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="toArrayOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorToArrayArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">tap - Operator</h4>
      <p>
        Example - tap operator used to there is modification of original data
        (initial value never modify)
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="tapOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorTapArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">concat - Operator</h4>
      <p>
        Example - concat operator concat multiple operators , with one subscribe
        its all the operators data
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="concatOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorConcatArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">merge - Operator</h4>
      <p>Example - merge operator used to merge values from the observables</p>
      <button class="btn btn-small btn-primary mb-3" (click)="mergeOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorMergeArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">zip - Operator</h4>
      <p>
        Example - zip operator forms data if all the values matched in the given
        order
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="zipOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorZipArr">
        <p class="alert alert-danger">
          {{ x.name }},{{ x.age }},{{ x.city }},{{ x.status }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">defaultIfEmpty - Operator</h4>
      <p>
        Example - defaultIfEmpty operator used to if there is no data or there
        is no matched data based on the condition it will emit what we given
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="defaultIfEmptyOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatordefaultIfEmptyArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">find - Operator</h4>
      <p>
        Example - find operator emits only one data with the satisfied condition
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="findOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorFindArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">findIndex - Operator</h4>
      <p>
        Example - findIndex operator emits only one data with the satisfied
        condition's position
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="findIndexOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorFindIndexArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">count - Operator</h4>
      <p>Example - count operator emits how many counts available</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="countOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorCountArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">min - Operator</h4>
      <p>Example - min operator emits maximum value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="minOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorMin != undefined">
        <p class="alert alert-danger">{{ operatorMin }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">max - Operator</h4>
      <p>Example - min operator emits maximum value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="maxOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorMax">
        <p class="alert alert-danger">{{ operatorMax }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">combineLatest - Operator</h4>
      <p>
        Example - combineLatest operator helps to use multiple observable and
        its emits all latest values from the all observable once all are emited
        a value.<br />
        <strong
          >Note: If one observable thrown error means it will stop the
          operation.</strong
        >
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="combineLatestOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorCombineLatestArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">forkJoin - Operator</h4>
      <p>
        Example - forkJoin operator wait with all observables to complete and
        emit final values from the all observable
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="forkJoinOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorForkJoinArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">race - Operator</h4>
      <p>
        Example - race operator emits which observable is completes first, that
        only its emits and stops further emit. like racing
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="raceOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorRaceArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">startWith - Operator</h4>
      <p>
        Example - startWith operator emits first, before other observable emits
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="startWithOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorStartWithArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">withLatestFrom - Operator</h4>
      <p>
        Example - withLatestFromOperator operator emits the latest value from
        the observable
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="withLatestFromOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorWithLatestFromArr">
        <p class="alert alert-primary">{{ operatorWithLatestFromArr }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">debounceTime - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time
        frame(staic time)
      </p>
      <div class="content" role="main">
        <input
          type="text"
          [(ngModel)]="inputDebounceTime"
          placeholder="Input something"
          (input)="onSearchDebTime()"
        />
        <br />
        {{ searchValue }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">debounce - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time frame
        (dynamic time)
      </p>
      <div class="content" role="main">
        <input
          type="text"
          [(ngModel)]="inputDebounce"
          placeholder="Input something"
          (input)="onSearchDebounce()"
        />
        <br />
        {{ debounceSearchVal }}
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">takeLast - Operator</h4>
      <p>
        Example - takeLast operator takes element from last with the given limit
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="takeLastOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of takeLastDataArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">takeUntil - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time frame
        (dynamic time)
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="takeUntilOperator()"
      >
        Start
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-small btn-danger mb-3" (click)="stopTakeUntill()">
        Stop
      </button>
      <div *ngFor="let x of takeUntilData">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">iif - Operator</h4>
      <p>Example - iif operator like a if condition</p>
      <input
        type="radio"
        [(ngModel)]="radioFlag"
        name="buildTool"
        value="True"
      />True
      <input
        type="radio"
        [(ngModel)]="radioFlag"
        name="buildTool"
        value="False"
      />False
      <button class="btn btn-small btn-primary mb-3" (click)="iffOperator()">
        Click
      </button>
      <div>
        <p class="alert alert-primary">{{ iffOperatorData }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">distinctUntilChanged - Operator</h4>
      <p>
        Example - distinctUntilChanged operator emits only unique values in the
        given order with the occurance specific - check array in ts file
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="distinctUntilChangedOptr()"
      >
        Click
      </button>
      <div *ngFor="let x of disUtlCgeOprArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">partition - Operator</h4>
      <p>
        Example - partition operator helps to separate data based on category ,
        here we seprates odds and evens and strings and numbers
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="partitionOperator()"
      >
        Click
      </button>
      <div class="row">
        <div class="col-6">
          <div *ngFor="let x of oddsArr">
            <p class="alert alert-success">{{ x }}</p>
          </div>
        </div>
        <div class="col-6">
          <div *ngFor="let x of evensArr">
            <p class="alert alert-success">{{ x }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">buffer - Operator</h4>
      <p>
        Example - this operator collect and stores in buffer when we click means
        emits from the stored data; here, 1st button click we start our interval
        by 2nd click it emits the data as far as stored in buffer
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="bufferOperator()">
        1.Click here - Interval will initialize</button
      >&nbsp;
      <button class="btn btn-small btn-secondary mb-3" id="start-btn">
        2.Start Emitting from buffer
      </button>
      <div *ngFor="let x of bufferArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">bufferCount - Operator</h4>
      <p>
        Example - this operator collect and stores data in buffer when the
        buffer count reach means it emitted from the buffer data
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="bufferCountOperator()"
      >
        Click
      </button>
      <div class="row">
        <div *ngFor="let x of bufferCountArr">
          <p class="alert alert-success">{{ x }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">bufferTime - Operator</h4>
      <p>
        Example - this operator collect and stores data in buffer when the
        buffer time reach means it emitted the same data
      </p>
      <button
        class="btn btn-small btn-success mb-3"
        (click)="bufferTimeOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of bufferTimeArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">takeWhile - Operator</h4>
      <p>
        Example - this operator will take data while satisfy the given condition
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="takeWhileOperator()"
      >
        Click
      </button>
      <div class="row">
        <div *ngFor="let x of takeWhileArr">
          <p class="alert alert-success">{{ x }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">skipLast - Operator</h4>
      <p>Example - this operator skips from the last with the given count</p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="skipLastOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of skipLastOperatorArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">skipUntil - Operator</h4>
      <p>
        Example - its skips the values until the btn click after the view init
      </p>
      <button class="btn btn-small btn-secondary mb-3" id="skip-until">
        Click
      </button>
      <div class="row">
        <div *ngFor="let x of skipUntilArr">
          <p class="alert alert-success">{{ x }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">skipWhile - Operator</h4>
      <p>
        Example - this operator skips the value while satisfy based on condition
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="skipWhileOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of skipWhileArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">distinctUntilKeyChanged - Operator</h4>
      <p>
        Example - this operator deals with the objects and emits only unique
        values in the given order with the occurance specific - check array in
        ts file
      </p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="distinctUntilKeyChangedOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of distinctUntilKeyChangedOpArr">
        <p class="alert alert-primary">{{ x.name }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">sample - Operator</h4>
      <p>
        Example -this operator emits the most recent data from the source
        obeservable with the given the time frame
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="sampleOperator()">
        Click
      </button>
      <div *ngFor="let x of sampleOprArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">ElementAt - Operator</h4>
      <p>Example - this operator emits the element position</p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="elementAtOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of elementAtOperatorArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">ignoreElements - Operator</h4>
      <p>Example -this operator ignore all the elemnts of the obeservable</p>
      <button
        class="btn btn-small btn-success mb-3"
        (click)="ignoreElementsOperator()"
      >
        Click
      </button>
      <div *ngIf="ignoreMsg">
        <p class="alert alert-primary">{{ ignoreMsg }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">single - Operator</h4>
      <p>Example - this operator only emits the single data</p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="singleOperator()"
      >
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">mapTo - Operator</h4>
      <p>
        Example -this opeartor emits the given value for each actual observable
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="mapToOperator()">
        Click
      </button>
      <!-- <div *ngIf="mapToMsg">
        <p class="alert alert-primary">{{ mapToMsg }}</p>
      </div> -->
      <div *ngFor="let x of mapToArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">ajax - Operator</h4>
      <p>Example - this operator helps for making HTTP calls</p>
      <button class="btn btn-small btn-primary mb-3" (click)="ajaxOperator()">
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">retry - Operator</h4>
      <p>
        Example - this operator if any error occured means retry the operation
        with given time.
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="retryOperator()">
        Click
      </button>
      <div *ngFor="let x of retryOperatorArr">
        <p class="alert alert-secondary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">timer - Operator</h4>
      <p>
        Example - Timer starts after the given time and emit the data and
        complete
      </p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="timerOperator()"
      >
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">reduce - Operator</h4>
      <p>
        Example - this operator emits the accumulated value when the source
        observable gets complete.
      </p>
      <button class="btn btn-small btn-success mb-3" (click)="reduceOperator()">
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">scan - Operator</h4>
      <p>
        Example - this operator emits the accumulated value when the source
        observable while emiting each value
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="scanOperator()">
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">isEmpty - Operator</h4>
      <p>
        Example - this operator emits the boolean value based on the source have
        value or not.
      </p>
      <button
        class="btn btn-small btn-success mb-3"
        (click)="isEmptyOperator()"
      >
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">every - Operator</h4>
      <p>
        Example - this operator emits the boolean value, its check each value of
        the source observable satisfy the given condition
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="everyOperator()">
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">delay - Operator</h4>
      <p>Example - this operator delay the source observable emitting time.</p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="delayOperator()"
      >
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">combineLatestAll - Operator</h4>
      <p>
        Example - this operator emits the boolean value, its check each value of
        the source observable satisfy the given condition
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="combineLatestAllOperator()"
      >
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">concatAll - Operator</h4>
      <p>
        Example - this operator concat all the source observable values and
        emits the data in the source observable order wise.
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="concatAllOperator()"
      >
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">exhaustAll - Operator</h4>
      <p>
        Example - this operator acts like exhaustMap , like at a time only one
        obs will get emit after values got exhaust
      </p>
      <button
        class="btn btn-small btn-secondary mb-3"
        (click)="exhaustAllOperator()"
      >
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">switchAll - Operator</h4>
      <p>
        Example - this operator acts as switchMap, its keep switching if any
        upcoming value is means , it will switch and continue the progress
      </p>
      <button
        class="btn btn-small btn-success mb-3"
        (click)="switchAllOperator()"
      >
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">mergeAll - Operator</h4>
      <p>Example - this will emits the merged data from the outer obs</p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="mergeAllOperator()"
      >
        Click
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">groupBy - Operator</h4>
      <p>
        Example - this operator grouping based on condition and return the data
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="groupByOperator()"
      >
        Click
      </button>
    </div>
    <div class="col-6">
      <h4 class="text-center">pairwise - Operator</h4>
      <p>
        Example - this operator emits the data pair wise (previous and current
        pair) <br />
        <strong
          >if only one data in the obs means it wont emit any data its need
          atleast both values , directly emit the complete in this case
        </strong>
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="pairwiseOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of pairwiseOperatorArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
      
    </div>
  </div>
</div>
