<div class="container mt-3">
  <button class="btn btn-success" routerLink="/">Back</button>
  <h2 class="text-center">Operators</h2>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">of - Operator</h4>
      <p>Example - of operator will return all values at a time</p>
      <button class="btn btn-small btn-primary mb-3" (click)="ofOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorOfArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">from - Operator</h4>
      <p>Example - from operator will iterate each values</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="fromOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorFromArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">map - Operator</h4>
      <p>
        Example - map operator used to convert our data (here multiply by 10)
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="mapOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorMapArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">filter - Operator</h4>
      <p>
        Example - filter operator will filter based on condition (here display
        odd numbers)
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="filterOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorFilterArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">range - Operator</h4>
      <p>
        Example - range operator used to emits sequence of numbers with in the
        given range in the parameter
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="rangeOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorRangeArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">distinct - Operator</h4>
      <p>
        Example - distinct operator emits only unique values in the given order
        - check array in ts file
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="distinctOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorDistinctArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">first - Operator</h4>
      <p>Example - first operator used to emits the first value</p>
      <button class="btn btn-small btn-primary mb-3" (click)="firstOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorFirstArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">last - Operator</h4>
      <p>Example - last operator used to emits the last value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="lastOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorLastArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">skip - Operator</h4>
      <p>
        Example - skip operator skips the values from the start in the given
        position
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="skipOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorSkipArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">take - Operator</h4>
      <p>
        Example - take operator takes values from the starting, in the given
        position
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="takeOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorTakeArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">interval - Operator</h4>
      <p>
        Example - interval operator keep on trigger with the given interval of
        time
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="intervalOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorIntervalArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">toArray - Operator</h4>
      <p>Example - toArray operator format data into array format</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="toArrayOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorToArrayArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">tap - Operator</h4>
      <p>
        Example - tap operator used to there is modification of original data
        (initial value never modify)
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="tapOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorTapArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">concat - Operator</h4>
      <p>
        Example - concat operator concat multiple operators , with one subscribe
        its all the operators data
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="concatOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorConcatArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">merge - Operator</h4>
      <p>Example - merge operator used to merge values from the observables</p>
      <button class="btn btn-small btn-primary mb-3" (click)="mergeOperator()">
        Click
      </button>
      <div *ngFor="let x of operartorMergeArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">zip - Operator</h4>
      <p>
        Example - zip operator forms data if all the values matched in the given
        order
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="zipOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorZipArr">
        <p class="alert alert-danger">
          {{ x.name }},{{ x.age }},{{ x.city }},{{ x.status }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">defaultIfEmpty - Operator</h4>
      <p>
        Example - defaultIfEmpty operator used to if there is no data or there
        is no matched data based on the condition it will emit what we given
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="defaultIfEmptyOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatordefaultIfEmptyArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">find - Operator</h4>
      <p>
        Example - find operator emits only one data with the satisfied condition
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="findOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorFindArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">findIndex - Operator</h4>
      <p>
        Example - findIndex operator emits only one data with the satisfied
        condition's position
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="findIndexOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorFindIndexArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">count - Operator</h4>
      <p>Example - count operator emits how many counts available</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="countOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorCountArr">
        <p class="alert alert-danger">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">min - Operator</h4>
      <p>Example - min operator emits maximum value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="minOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorMin != undefined">
        <p class="alert alert-danger">{{ operatorMin }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">max - Operator</h4>
      <p>Example - min operator emits maximum value</p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="maxOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorMax">
        <p class="alert alert-danger">{{ operatorMax }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">combineLatest - Operator</h4>
      <p>
        Example - combineLatest operator helps to use multiple observable and
        its emits all latest values from the all observable
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="combineLatestOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorCombineLatestArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">forkJoin - Operator</h4>
      <p>
        Example - forkJoin operator wait with all observables to complete and
        emit final values from the all observable
      </p>
      <button
        class="btn btn-small btn-primary text-center mb-3"
        (click)="forkJoinOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operartorForkJoinArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">race - Operator</h4>
      <p>
        Example - race operator emits which observable is completes first, that
        only its emits and stops further emit. like racing
      </p>
      <button class="btn btn-small btn-primary mb-3" (click)="raceOperator()">
        Click
      </button>
      <div *ngFor="let x of operatorRaceArr">
        <p class="alert alert-success">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">startWith - Operator</h4>
      <p>
        Example - startWith operator emits first, before other observable emits
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="startWithOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of operatorStartWithArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">withLatestFrom - Operator</h4>
      <p>
        Example - withLatestFromOperator operator emits the latest value from
        the observable
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="withLatestFromOperator()"
      >
        Click
      </button>
      <div *ngIf="operatorWithLatestFromArr">
        <p class="alert alert-primary">{{ operatorWithLatestFromArr }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">debounceTime - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time
        frame(staic time)
      </p>
      <div class="content" role="main">
        <input
          type="text"
          [(ngModel)]="inputDebounceTime"
          placeholder="Input something"
          (input)="onSearchDebTime()"
        />
        <br />
        {{ searchValue }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">debounce - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time frame
        (dynamic time)
      </p>
      <div class="content" role="main">
        <input
          type="text"
          [(ngModel)]="inputDebounce"
          placeholder="Input something"
          (input)="onSearchDebounce()"
        />
        <br />
        {{ debounceSearchVal }}
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">takeLast - Operator</h4>
      <p>
        Example - takeLast operator takes element from last with the given limit
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="takeLastOperator()"
      >
        Click
      </button>
      <div *ngFor="let x of takeLastDataArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">takeUntil - Operator</h4>
      <p>
        Example - This operator used to get all the values after the time frame
        (dynamic time)
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="takeUntilOperator()"
      >
        Start
      </button>
      &nbsp;&nbsp;
      <button class="btn btn-small btn-danger mb-3" (click)="stopTakeUntill()">
        Stop
      </button>
      <div *ngFor="let x of takeUntilData">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">iif - Operator</h4>
      <p>Example - iif operator like a if condition</p>
      <input
        type="radio"
        [(ngModel)]="radioFlag"
        name="buildTool"
        value="True"
      />True
      <input
        type="radio"
        [(ngModel)]="radioFlag"
        name="buildTool"
        value="False"
      />False
      <button class="btn btn-small btn-primary mb-3" (click)="iffOperator()">
        Click
      </button>
      <div>
        <p class="alert alert-primary">{{ iffOperatorData }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <h4 class="text-center">distinctUntilChanged - Operator</h4>
      <p>
        Example - distinctUntilChanged operator emits only unique values in the
        given order with the occurance specific - check array in ts file
      </p>
      <button
        class="btn btn-small btn-primary mb-3"
        (click)="distinctUntilChangedOptr()"
      >
        Click
      </button>
      <div *ngFor="let x of disUtlCgeOprArr">
        <p class="alert alert-primary">{{ x }}</p>
      </div>
    </div>
    <div class="col-6">
      <h4 class="text-center">partition - Operator</h4>
      <p>Example - partition operator helps to separate data based on category</p>
      <button class="btn btn-small btn-primary mb-3" (click)="partitionOperator()">
        Click
      </button>
      <div class="row">
        <div class="col-6">
          <div *ngFor="let x of oddsArr">
            <p class="alert alert-success">{{ x }}</p>
          </div>
        </div>
        <div class="col-6">
          <div *ngFor="let x of evensArr">
            <p class="alert alert-success">{{ x }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
